@(cloudForm: Form[Cloud], cloud: Cloud, allClusts: List[Cluster])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
}

@title = {
    Create a Cloud
}

@pageTitle = {
    Create a Cloud
}

@main(title, pageTitle) {
    <script src="@routes.Assets.at("javascripts/groupClassToggle.js")" type="text/javascript"></script>

    @form(routes.CloudController.update(cloud.getId.toString)) {
        @inputText(cloudForm("name"), '_label -> "Group Name")

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Cluster Name</th>
                    <th># of Cores</th>
                    <th>Memory (GB)</th>
                    <th>HDD Size (GB)</th>
                    <th>Bandwidth (Mbps)</th>
                    <th># of Nodes</th>
                    <th>Group</th>
                </tr>
            </thead>

            <tbody>
                @for(clust <- allClusts) {
                    <tr @if(cloud.getClusters.toSet.contains(clust)){class="success"}else{}>
                        <td>@clust.getName</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getCores)    </td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getMemory)   </td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getHdd)  </td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getBandwidth)</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getNodes)    </td>
                        <td style="text-align:center;">
                            <input type="checkbox" id="@clust.getId.toString" name="@clust.getId.toString" @if(cloud.getClusters.toSet.contains(clust)){checked="true"}else{}/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="addGroup" class="pull-left">
            <input type="submit" value="Save Cloud" class="btn btn-primary">  or
            <a class="btn btn-inverse" id="cancel" href="@routes.CloudController.list()" hidden="false">Cancel</a>
        </div>
    }
}