@(clouds: List[Cloud], hidden: List[Cloud])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
    Cloud List
}

@pageTitle = {
    Clouds

    <div id="add" class="pull-right ">
        <a class="btn btn-success" id="addGroup" href="@routes.CloudController.create()" hidden="false"><i class="icon-plus-sign icon-white"></i> Create a Cloud</a>
    </div>
}

@main(title, pageTitle) {
    <ul class="nav nav-tabs">
        <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#inactive" data-toggle="tab">Hidden</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="active">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Cloud Name</th>
                        <th># of Clusters</th>
                    </tr>
                </thead>

                <tbody>
                @for(cloud <- clouds) {
                    <tr>
                        <td>@cloud.getName</td>
                        <td>@simulation.SimUtils.getNf3.format(cloud.getClusters.size)</td>
                        <td>
                            <a class="btn btn-primary btn-block" href="@routes.CloudController.view(cloud.getId.toString)" > <i class="icon-edit icon-white"></i> View</a>
                            <a class="btn btn-inverse btn-block" href="@routes.CloudController.edit(cloud.getId.toString)" > <i class="icon-edit icon-white"></i> Copy</a>
                            <a class="btn btn-danger btn-block" href="@routes.CloudController.markInactive(cloud.getId.toString)"> <i class="icon-remove icon-white"></i> Hide</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="inactive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Cloud Name</th>
                        <th># of Clusters</th>
                    </tr>
                </thead>

                <tbody>
                    @for(cloud <- hidden) {
                        <tr>
                        <td>@cloud.getName</td>
                        <td>@simulation.SimUtils.getNf3.format(cloud.getClusters.size)</td>
                        <td>
                        <a class="btn btn-primary btn-block" href="@routes.CloudController.view(cloud.getId.toString)" > <i class="icon-edit icon-white"></i> View</a>
                        <a class="btn btn-inverse btn-block" href="@routes.CloudController.edit(cloud.getId.toString)" > <i class="icon-edit icon-white"></i> Copy</a>
                        <a class="btn btn-danger btn-block" href="@routes.CloudController.markActive(cloud.getId.toString)"> <i class="icon-remove icon-white"></i> Unhide</a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

