@(clusts: List[Cluster], hidden: List[Cluster])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
    Cluster List
}

@pageTitle = {
    Clusters

    <div id="add" class="pull-right ">
        <a class="btn btn-success" id="addserv" href="@routes.ClusterController.create()"><i class="icon-plus-sign icon-white"></i> Add a New Cluster</a>
        <a class="btn btn-inverse" id="addCloud" href="@routes.CloudController.create()" hidden="false">Create Cloud</a>
    </div>
}

@main(title, pageTitle) {
    <ul class="nav nav-tabs">
        <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#inactive" data-toggle="tab">Hidden</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="active">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Cluster Name</th>
                        <th># of Cores</th>
                        <th>Memory (GB)</th>
                        <th>HDD Size (GB)</th>
                        <th>Bandwidth (Mbps)</th>
                        <th># of Nodes</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                @for(clust <- clusts) {
                    <tr>
                        <td>@clust.getName</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getCores)</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getMemory)</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getHdd)</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getBandwidth)</td>
                        <td>@simulation.SimUtils.getNf3.format(clust.getNodes)</td>
                        <td>
                            <a class="btn btn-inverse btn-block" href="@routes.ClusterController.edit(clust.getId.toString)" > <i class="icon-edit icon-white"></i> Copy</a>
                            <a class="btn btn-danger btn-block" href="@routes.ClusterController.markInactive(clust.getId.toString)"> <i class="icon-remove icon-white"></i> Hide</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="inactive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Cluster Name</th>
                        <th># of Cores</th>
                        <th>Memory (GB)</th>
                        <th>HDD Size (GB)</th>
                        <th>Bandwidth (Mbps)</th>
                        <th># of Nodes</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for(clust <- hidden) {
                        <tr>
                            <td>@clust.getName</td>
                            <td>@simulation.SimUtils.getNf3.format(clust.getCores)</td>
                            <td>@simulation.SimUtils.getNf3.format(clust.getMemory)</td>
                            <td>@simulation.SimUtils.getNf3.format(clust.getHdd)</td>
                            <td>@simulation.SimUtils.getNf3.format(clust.getBandwidth)</td>
                            <td>@simulation.SimUtils.getNf3.format(clust.getNodes)</td>
                            <td>
                                <a class="btn btn-inverse btn-block" href="@routes.ClusterController.edit(clust.getId.toString)" > <i class="icon-edit icon-white"></i> Copy</a>
                                <a class="btn btn-danger btn-block" href="@routes.ClusterController.markActive(clust.getId.toString)"> <i class="icon-remove icon-white"></i> Unhide</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

