@(id: String, clustForm: Form[Cluster])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
    Create a Cluster
}

@pageTitle = {
    Create a Cluster
}

@main(title, pageTitle) {
    @form(routes.ClusterController.update(id)) {

        <fieldset>

            @inputText(clustForm("name"),      '_label -> "Cluster Name")
            @inputText(clustForm("cores"),     '_label -> "# of Cores")
            @inputText(clustForm("memory"),    '_label -> "Memory (GB)")
            @inputText(clustForm("hdd"),       '_label -> "HDD Size (GB)")
            @inputText(clustForm("bandwidth"), '_label -> "Bandwidth (Mbps)")
            @inputText(clustForm("nodes"),     '_label -> "# of Nodes")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save Cluster" class="btn btn-primary"> or
            <a href="@routes.ClusterController.list()" class="btn btn-inverse">Cancel</a>
        </div>

    }
}