@(currentPage: List[SimulationResult], currentSortBy: String, currentOrder: String, currentFilter: String, currentSim: Simulation)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
@Simulation.findById(currentSim.getId.toString).getName
}

@pageTitle = {
@title
    <a class="btn btn-large btn-info pull-right" href="@routes.SimulationController.simSetupDuplicate(currentSim.getId.toString)">Modify <i class="icon-wrench"></i></a>
}

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "desc"
        }
    }
    // Generate the link
    routes.SimulationResultController.getChildResults(currentSim.getId.toString, newPage, sortBy, order, currentFilter)
}

@main(title, pageTitle) {
    <script type="text/javascript">
            $(function() {
                var resList = $("#resList");
                resList.load("/result/table/children?simId=@currentSim.getId.toString&p=1&s=@currentSortBy&o=@currentOrder&f=@currentFilter");

                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
                var sock = new WebSocket("@routes.Application.socketHandler().webSocketURL(request)");

                sock.onmessage = function(event) {
                    resList.load("/result/table/children?simId=@currentSim.getId.toString&p=1&s=@currentSortBy&o=@currentOrder&f=@currentFilter");
                    $("#alertBox").find("p").append(event.data + "<br />");
                    $(".alert").removeClass("hide");
                };
            });
    </script>
    <div id="alertBox" class="alert alert-info fade in hide">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4>Heads Up!</h4>

        <p></p>
    </div>

    @if(currentPage.size == 0) {
        <div class="well">
            <em>No results to display.</em>
        </div>

    }else {
        <h4>Type: @currentSim.getSimType</h4>


        <h4>Allocation: @currentSim.getVmAllocationType</h4>
        <h4>Distribution: @currentSim.getVmDistributionType</h4>

        @if(currentSim.getNumSims > 1){
            <h4>Reliability: @simulation.SimUtils.getNf.format(currentSim.getAvgRel) &#177; @simulation.SimUtils.getNf.format(currentSim.getStdRel)</h4>
        }else{
            <h4>Reliability: @simulation.SimUtils.getNf.format(currentSim.getAvgRel)</h4>
        }

        <br>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
            <li><a href="#trials" data-toggle="tab">Trials</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="overview">
                <script type="text/javascript" src="@routes.Assets.at("javascripts/dygraph-combined.js")"></script>
                <h4>Distribution of Reliability Values</h4>
                <script type="text/javascript">
                        // Load the Visualization API and the piechart package.
                        google.load('visualization', '1.0', {'packages':['corechart']});

                        // Set a callback to run when the Google Visualization API is loaded.
                        google.setOnLoadCallback(drawChart);

                        // Callback that creates and populates a data table,
                        function drawChart() {
                            // Create the data table.
                            var relData = new google.visualization.DataTable();
                            relData.addColumn('number','bin');
                            relData.addColumn('number','Count');

                            relData.addRows(@currentSim.getHist.size);

                            @for(i <- 0 to currentSim.getHist.size - 1){
                            relData.setCell(@i,0, @i);
                            relData.setCell(@i,1, @currentSim.getHist.get(i));
                            }

                            chart = new Dygraph.GVizChart(document.getElementById('relChart_div'));
                            chart.draw(relData, {
                                xlabel: 'Reliability (%)',
                                ylabel: 'Frequency',
                                width: 945,
                                height: 350,
                                digitsAfterDecimal: 2,
                                fillGraph: true,
                                colors: ["blue"],
                                drawPoints: true,
                                strokeWidth: 0.0});
                        }
                </script>

                <div id="relChart_div"></div>
            </div>

            <div class="tab-pane" id="trials">
                <h4>Individual Trials</h4>
                <div id="resList"> </div>
            </div>
        </div>
    }
}

