@(currentPage: List[Simulation], currentSortBy: String, currentOrder: String, currentFilter: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
    Simulations
}

@pageTitle = {
    Simulations
}

@link(newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "desc"
        }
    }
    // Generate the link
    routes.SimulationController.list(sortBy, order, currentFilter)
}

@main(title, pageTitle) {
    <script type="text/javascript">
        $(function() {
            var simList = $("#simList");
            @if(currentPage != null && currentPage.size > 0){
                var filter = '@currentFilter'.replace(/ /g,"+");

                var nextLink = '/sim/table?d=1&s=@currentSortBy&o=@currentOrder&f=' + filter;
                simList.load(nextLink);   //initially load all data
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
                    //Append to the list
                    $.get($("div:last a").attr('href'), function(data) {
                        simList.append(data);
                    });
                }
            });

            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
            var sock = new WebSocket("@routes.Application.socketHandler().webSocketURL(request)");

            sock.onmessage = function(event) {
                simList.load("/sim/table?d=1&s=@currentSortBy&o=@currentOrder&f=@currentFilter");
            };
        });
    </script>

    <div id="alertBox" class="alert alert-info fade in hide">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4>Heads Up!</h4>

        <p></p>
    </div>

    <form action='@link("name")' method="GET" class="form-search">
        <div class="input-append">
            <input type="text" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by Simualtion Name..." class="span12 search-query">
            <button type="submit" id="searchsubmit" class="btn btn-success"><i class="icon-filter"></i>Filter</button>
        </div>
    </form>

    @if(currentPage.size == 0) {
        <div class="well">
            <em>No results to display.</em>
        </div>

    }else {
        <div id="simList"> </div>
    }
}

