@(vmGroupId: String, cloudId: String, cloudRes: Map[String,Long], vmRes: Map[String,Long])

<div id="overview">
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th># of Cores</th>
            <th>Memory (GB)</th>
            <th>HDD Size (GB)</th>
            <th>Bandwidth (Mbps)</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th>Available (@Cloud.findById(cloudId).getName):</th>
                <td>@simulation.SimUtils.getNf3().format(cloudRes.get("cpu"))</td>
                <td>@simulation.SimUtils.getNf3().format(cloudRes.get("mem"))</td>
                <td>@simulation.SimUtils.getNf3().format(cloudRes.get("hdd"))</td>
                <td>@simulation.SimUtils.getNf3().format(cloudRes.get("band"))</td>
            </tr>
                <tr>
                <th>Requested (@VMGroup.findById(vmGroupId).getName):</th>
                <td>@simulation.SimUtils.getNf3().format(vmRes.get("cpu"))</td>
                <td>@simulation.SimUtils.getNf3().format(vmRes.get("mem"))</td>
                <td>@simulation.SimUtils.getNf3().format(vmRes.get("hdd"))</td>
                <td>@simulation.SimUtils.getNf3().format(vmRes.get("band"))</td>
                </tr>
            <tr id="diff">
                <th>Difference:</th>
                <td style="background-color:@if(cloudRes.get("cpu") - vmRes.get("cpu")  < 0){#f0dcdd}else{#ddeed7}">@simulation.SimUtils.getNf3().format(cloudRes.get("cpu") - vmRes.get("cpu"))</td>
                <td style="background-color:@if(cloudRes.get("mem") - vmRes.get("mem")  < 0){#f0dcdd}else{#ddeed7}">@simulation.SimUtils.getNf3().format(cloudRes.get("mem") - vmRes.get("mem"))</td>
                <td style="background-color:@if(cloudRes.get("hdd") - vmRes.get("hdd")  < 0){#f0dcdd}else{#ddeed7}">@simulation.SimUtils.getNf3().format(cloudRes.get("hdd") - vmRes.get("hdd"))</td>
                <td style="background-color:@if(cloudRes.get("band")- vmRes.get("band") < 0){#f0dcdd}else{#ddeed7}">@simulation.SimUtils.getNf3().format(cloudRes.get("band") - vmRes.get("band"))</td>
            </tr>
            <tr id="util">
                <th>Utilization:</th>
                <td style="background-color:@if(cloudRes.get("cpu") - vmRes.get("cpu")  < 0){#f0dcdd}else{#ddeed7}">@{ "%.4f".format(vmRes.get("cpu").floatValue()/cloudRes.get("cpu"))}</td>
                <td style="background-color:@if(cloudRes.get("mem") - vmRes.get("mem")  < 0){#f0dcdd}else{#ddeed7}">@{ "%.4f".format(vmRes.get("mem").floatValue()/cloudRes.get("mem"))}</td>
                <td style="background-color:@if(cloudRes.get("hdd") - vmRes.get("hdd")  < 0){#f0dcdd}else{#ddeed7}">@{ "%.4f".format(vmRes.get("hdd").floatValue()/cloudRes.get("hdd"))}</td>
                <td style="background-color:@if(cloudRes.get("band")- vmRes.get("band") < 0){#f0dcdd}else{#ddeed7}">@{ "%.4f".format(vmRes.get("band").floatValue()/cloudRes.get("band"))}</td>
            </tr>
        </tbody>
    </table>
</div>