@(sim: Simulation, res: SimulationResult)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
    @sim.getName
}

@pageTitle = {
    @title
    <small>(@simulation.SimUtils.getNf2.format(res.getRunTime) seconds)</small>
    @if(sim.getSimType.equals("Normal")){
        <button class="btn btn-large btn-info pull-right" onclick="convertNormal()"><i class="icon-retweet"></i> Convert charts to images</button>
    }else{
        <button class="btn btn-large btn-info pull-right" onclick="convertReliability()"><i class="icon-retweet"></i> Convert charts to images</button>
    }
}

@main(title, pageTitle) {
    @if(sim.getSimType.equals("Normal")){
        <script type="text/javascript">
                // Load the Visualization API.
                google.load('visualization', '1.0', {'packages':['corechart']});

                // Set a callback to run when the Google Visualization API is loaded.
                google.setOnLoadCallback(drawChart);

                // Callback that creates and populates a data table,
                // instantiates the pie chart, passes in the data and
                // draws it.
                function drawChart() {
                // Create the data table.
                var convData = new google.visualization.DataTable();
                convData.addColumn('string','Iteration');
                convData.addColumn('number','Reliability');

                convData.addRows(@res.getLocpList.size);

                @for(i <- 0 to res.getLocpList.size - 1){
                    convData.setCell(@i,0, '');
                    convData.setCell(@i,1, @{1 - res.getLocpList.get(i)});
                }

                // Set chart options
                var options = {
                    vAxis: {title: 'Reliability'},
                    hAxis: {title: 'Iteration'},
                    width:  980,
                    height: 350
                };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(document.getElementById('converge_div'));
                chart.draw(convData, options);

                //---------------------------------------------------------------
                //v(R) chart
                //---------------------------------------------------------------
                var varRData = new google.visualization.DataTable();
                varRData.addColumn('string','Iteration');
                varRData.addColumn('number','v(R)');

                varRData.addRows(@res.getvLocpList().size);

                @for(i <- 0 to res.getvLocpList.size - 1){
                    varRData.setCell(@i,0, '');
                    varRData.setCell(@i,1, @res.getvLocpList.get(i));
                }

                // Set chart options
                var options = {
                    vAxis: {title: 'v(R)'},
                    hAxis: {title: 'Iteration'},
                    width:  980,
                    height: 350
                };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(document.getElementById('var_div'));
                chart.draw(varRData, options);

                //---------------------------------------------------------------
                //Now the component failure chart
                //---------------------------------------------------------------
                var compData = new google.visualization.arrayToDataTable([
                    ['Component', 'Failures'],
                    ['CPU',       @res.getpFails],
                    ['Memory',    @res.getmFails],
                    ['HDD',       @res.gethFails],
                    ['Bandwidth', @res.getbFails]
                ]);

                // Set chart options
                var compOptions = {
                    vAxis: {title: 'Component'},
                    hAxis: {title: '# of Failures'},
                    width:  980,
                    height: 300
                };

                // Instantiate and draw our chart, passing in some options.
                chart = new google.visualization.BarChart(document.getElementById('compfail_div'));
                chart.draw(compData, compOptions);

                //---------------------------------------------------------------
                //Now the VM distribution chart
                //---------------------------------------------------------------
                var distData = new google.visualization.DataTable();
                distData.addColumn('string','Name');
                distData.addColumn('number','Count');

                distData.addRows(@res.getCounts.size);

                @for(i <- 0 to res.getCounts.size - 1){
                    distData.setCell(@i,0, '@res.getCounts.get(i).getVm.getName');
                    distData.setCell(@i,1, @res.getCounts.get(i).getCount);
                }

                var distOptions = {
                    width: 980,
                    height: 300,
                    is3D: true
                };

                chart = new google.visualization.PieChart(document.getElementById('dist_div'));
                chart.draw(distData, distOptions);

                //---------------------------------------------------------------
                //Resource Charts (interleaved code to save on extra looping at the expense of slight obfsucation)
                //---------------------------------------------------------------
                var cpuData = new google.visualization.DataTable();
                var memData = new google.visualization.DataTable();
                var hddData = new google.visualization.DataTable();
                var banData = new google.visualization.DataTable();

                cpuData.addColumn('string','sample');
                cpuData.addColumn('number','Available');
                cpuData.addColumn('number','Requested');

                memData.addColumn('string','sample');
                memData.addColumn('number','Available');
                memData.addColumn('number','Requested');

                hddData.addColumn('string','sample');
                hddData.addColumn('number','Available');
                hddData.addColumn('number','Requested');

                banData.addColumn('string','sample');
                banData.addColumn('number','Available');
                banData.addColumn('number','Requested');

                cpuData.addRows(@res.getCpuAvail.size);
                memData.addRows(@res.getMemAvail.size);
                hddData.addRows(@res.getHddAvail.size);
                banData.addRows(@res.getBandAvail.size);

                //assuming all resources arrays have equal lengths!!!
                @for(i <- 0 to res.getCpuAvail.size - 1){
                    cpuData.setCell(@i,0, '');
                    cpuData.setCell(@i,1, @res.getCpuAvail.get(i));
                    cpuData.setCell(@i,2, @res.getpNeeded);

                    memData.setCell(@i,0, '');
                    memData.setCell(@i,1, @res.getMemAvail.get(i));
                    memData.setCell(@i,2, @res.getmNeeded);

                    hddData.setCell(@i,0, '');
                    hddData.setCell(@i,1, @res.getHddAvail.get(i));
                    hddData.setCell(@i,2, @res.gethNeeded);

                    banData.setCell(@i,0, '');
                    banData.setCell(@i,1, @res.getBandAvail.get(i));
                    banData.setCell(@i,2, @res.getbNeeded);
                }

                // Set chart options
                var cpuOptions = {
                    title: 'CPU (# of Cores)',
                    hAxis: {title: 'Samples'},
                    width:  960,
                    height: 350
                };
                var memOptions = {
                    title: 'Memory (GB)',
                    hAxis: {title: 'Samples'},
                    width:  960,
                    height: 350
                };
                var hddOptions = {
                    title: 'HDD Capacity(GB)',
                    hAxis: {title: 'Samples'},
                    width:  960,
                    height: 350
                };
                var banOptions = {
                    title: 'Bandwidth (Mbps)',
                    hAxis: {title: 'Samples'},
                    width:  960,
                    height: 350
                };

        // Instantiate and draw our chart, passing in some options.
        chart = new google.visualization.AreaChart(document.getElementById('cpuChart_div'));
        chart.draw(cpuData, cpuOptions);

        chart = new google.visualization.AreaChart(document.getElementById('memChart_div'));
        chart.draw(memData, memOptions);

        chart = new google.visualization.AreaChart(document.getElementById('hddChart_div'));
        chart.draw(hddData, hddOptions);

        chart = new google.visualization.AreaChart(document.getElementById('banChart_div'));
        chart.draw(banData, banOptions);
      }
    </script>

        <h4>R: @{"%.6f".format(1 - res.getLOCP)}</h4>
        <h4>Sigma: @{"%.6f".format(res.getSigma)}</h4>
        <br>
        <h4>Total Samples: @simulation.SimUtils.getNf3.format(res.getTotalSamples)</h4>
        <h4>Total Failures: @simulation.SimUtils.getNf3.format(res.getTotalFails)</h4>

        <hr />
        <h4>Convergence</h4>
        <div id="converge_div"></div>
        <div id="var_div"></div>

        <hr/>
        <h4>Component Failures</h4>
        <div id="compfail_div" ></div>

        <hr>
        <h4>VM Distribution</h4>
        <div id="dist_div"></div>

        <table id="vmDistTable" class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <th>VM Name</th>
                    <th>VM Count</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @for(count <- res.getCounts){
                    <tr>
                        <td>@count.getVm.getName</td>
                        <td>@simulation.SimUtils.getNf3.format(count.getCount)</td>
                        <td>@{"%.1f".format((count.getCount.doubleValue()/sim.getNumVMs)*100)}% </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr/>
        <h4>Resource Availability </h4>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#cpu" data-toggle="tab">CPU</a></li>
            <li><a href="#mem" data-toggle="tab">Memory</a></li>
            <li><a href="#hdd" data-toggle="tab">Hard Disk</a></li>
            <li><a href="#band" data-toggle="tab">Bandwidth</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="cpu">
                <div id="cpuChart_div"></div>
            </div>
            <div class="tab-pane" id="mem">
                <div id="memChart_div"></div>
            </div>
            <div class="tab-pane" id="hdd">
                <div id="hddChart_div"></div>
            </div>
            <div class="tab-pane" id="band">
                <div id="banChart_div"></div>
            </div>
        </div>

        <hr>
    }else{
        <script type="text/javascript" src="@routes.Assets.at("javascripts/dygraph-combined.js")"></script>
        <script type="text/javascript">
                // Load the Visualization API
                google.load('visualization', '1.0', {'packages':['corechart']});

                // Set a callback to run when the Google Visualization API is loaded.
                google.setOnLoadCallback(drawChart);

                // Callback that creates and populates a data table,
                // instantiates the pie chart, passes in the data and
                // draws it.
                function drawChart() {
                    // Create the data table.
                    var relData = new google.visualization.DataTable();
                    relData.addColumn('number','# of VMs');
                    relData.addColumn('number','Reliability');
                    relData.addColumn('number','sigma');

                    relData.addRows(@res.getNumVmList.size);

                    @for(i <- 0 to res.getNumVmList.size - 1){
                        relData.setCell(@i,0, @res.getNumVmList.get(i));
                        relData.setCell(@i,1, @{"%.6f".format(res.getLocpList.get(i))});
                        relData.setCell(@i,2, @{"%.6f".format(res.getvLocpList.get(i))});
                    }

                    var options = {
                        xlabel: '# of VMs',
                        width: 980,
                        height: 550,
                        errorBars: true,
                        sigma: 2,
                        colors: ["blue"],
                        digitsAfterDecimal: 6,
                        drawPoints: true,
                        strokeWidth: 0.0
                    };

                    var chart = new Dygraph.GVizChart(document.getElementById('relChart_div'));
                    chart.draw(relData, options);

                    Dygraph.Export.asPNG(chart, document.getElementById('relChart_img'),options);
                }
        </script>

        <h4>Reliability Curve</h4>
        <div id="relChart_div"></div>
        <img id="relChart_img" />
        <script src="@routes.Assets.at("javascripts/dygraph-extra.js")" type="text/javascript"></script>
    }
}
@if(sim.getSimType.equals("Normal")){
    <script src="@routes.Assets.at("javascripts/rgbcolor.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/canvg.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/convertChart.js")" type="text/javascript"></script>
}