@(simform: Form[Simulation], vmMap: Map[String, String], servMap: Map[String, String], simId: String)

    @import helper._

    @implicitFieldConstructor = @{
            FieldConstructor(twitterBootstrapInput.render)
    }

    @title = {
            Simulation Setup
    }

    @pageTitle = {
            Simulation Setup
    }

    @main(title, pageTitle) {
        <script type="text/javascript">
            $(function(){
                var vmgroup     = $("#vmgroup");
                var vmgroupid   = vmgroup.val();
                var cloud       = $("#cloudid");
                var cloudid     = cloud.val();
                var vTable      = $("#vmTable");
                var oTable      = $("#overviewTable");
                var numVMBox    = $("#numVMs");
                var numVMs      = numVMBox.val();

                if(isNaN(numVMs) || numVMs == ""){
                    numVMs = 0;
                }

                @if(simId == null){
                    vTable.load('/sim/tables?vmgroupid='+vmgroupid+'&cloudid='+cloudid+' #vmlist', function(){
                        oTable.load('/sim/tables/over?vmgroupid='+vmgroupid+'&cloudid='+cloudid+genProbUrl()+'&numVMs=0 #overview');
                    });     //load inital table
                }else{
                    var sim = '@simId';
                    vTable.load('/sim/tables/dist?vmgroupid='+vmgroupid+'&cloudid='+cloudid+'&simid='+sim+' #vmlist', function(){
                        oTable.load('/sim/tables/over?vmgroupid='+vmgroupid+'&cloudid='+cloudid+genProbUrl()+'&numVMs='+numVMs+' #overview');
                    });
                }
            });
        </script>
        <script src="@routes.Assets.at("javascripts/simSetup.js")" type="text/javascript"></script>

        @form(routes.SimulationController.save(), 'class -> "noEnterSubmit") {

            <ul class="nav nav-tabs">
                <li class="active"><a href="#general" data-toggle="tab">General Settings</a></li>
                <li><a href="#vmTab" data-toggle="tab">VM Group</a></li>
                <li><a href="#cloudTab" data-toggle="tab">Cloud</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span6">
                                @inputText(simform("name"), '_label -> "Name")
                            </div>

                            <div class="span6">
                                @inputText(simform("numSims"), '_label -> "# of Trials", '_value -> 1, '_default->1)
                            </div>
                        </div>
                        <hr>
                        <div class="row-fluid">
                            <label for="allocationType"><b>Simulation Type</b></label>
                            <div class="span4">

                                <label class="inline" for="simType_Normal">
                                    <input id="simType_Normal" name="simType" value="Normal" checked class="inline" type="radio">
                                Single Reliability Assessment
                                </label>
                                 @inputText(simform("numVMs"), '_label -> "# of VMs")
                            </div>
                            <div class="span4">
                                
                                <label class="inline" for="simType_Reliability">
                                    <input id="simType_Reliability" name="simType" value="Reliability" type="radio">
                                    Generate Reliability Curve
                                </label>
                                

                                <div class="clearfix ">
                                    <label for="desAvail">Desired Reliability</label>
                                    <div class="input">
                                        
                                    <input id="desAvail" name="desAvail" value="0.8" type="text" disabled="true">
                                        <span class="help-inline"></span> 
                                    </div>
                                </div>

                                <div class="clearfix ">
                                    <label for="convergenceType">Convergence</label>
                                    <div class="input">
                                        
                                  <span class="buttonset" id="convergenceType">
                                    
                                      <input id="convergenceType_Full" name="convergenceType" value="Full" checked="" type="radio">
                                      <label for="convergenceType_Full">Full</label>
                                    
                                  </span>

                                        <span class="help-inline"></span> 
                                    </div>
                                </div>
                                
                           </div>


                        </div>

                        <hr>
                        <div class="row-fluid">
                            <div class="span4">

                                <label for="allocationType"><b>VM Allocation Policy</b></label>
                                <div class="input">

                                    <span class="buttonset" id="allocationType">


                                        <label for="allocationType_Original">
                                            <input id="allocationType_Original" name="allocationType" value="Original" checked="" type="radio">
                                            Original
                                        </label>


                                        <label for="allocationType_FCFS">
                                            <input id="allocationType_FCFS" name="allocationType" value="FCFS" type="radio">
                                            First Come First Serve
                                        </label>


                                        <label for="allocationType_RoundRobin">
                                            <input id="allocationType_RoundRobin" name="allocationType" value="RoundRobin" type="radio">
                                            Round Robin
                                        </label>


                                        <label for="allocationType_Powered">
                                            <input id="allocationType_Powered" name="allocationType" value="Powered" type="radio">
                                            Energy Consumbsion
                                        </label>

                                    </span>

                                    <span class="help-inline"></span>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="clearfix ">
                                    <label for="distributionType"><b>VM Distribution Policy</b></label>
                                    <div class="input">

                                        <span class="buttonset" id="distributionType">


                                            <label for="distributionType_Identical">
                                                <input id="distributionType_Identical" name="distributionType" value="Identical" checked="" type="radio">
                                                Identical
                                            </label>

                                            <label for="distributionType_Distribution">
                                                <input id="distributionType_Distribution" name="distributionType" value="Distribution" type="radio">
                                                Probability Based
                                            </label>

                                        </span>

                                        <span class="help-inline"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="clearfix ">
                                    <label for="oversubType"><b>Select Oversubscription Type</b></label>
                                    <div class="input">

                                        <span class="buttonset" id="oversubType">


                                            <label for="oversubType_Normal">
                                                <input id="oversubType_Normal" name="oversubType" value="Normal" checked="" type="radio">
                                                Normal
                                            </label>

                                            <label for="oversubType_Oversubscription">
                                                <input id="oversubType_Oversubscription" name="oversubType" value="Oversubscription" type="radio">
                                                Oversubscribed
                                            </label>

                                        </span>

                                        <span class="help-inline"></span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <hr>
                        <hr>
                        <div class="row-fluid">

                        </div>

                        <div class="row-fluid">
                            <div class="span6" id="factorTxt">
                                <hr/>
                                @inputText(simform("OversubFactor"), '_label -> "Enter Oversubscription Factor")
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="vmTab">
                    @select(
                    simform("vmgroup"),
                    options(vmMap),
                    '_label -> "VM Group", 'default -> "--Choose VM Group--"
                    )
                    <div id="vmTable"> </div>
                </div>
                <div class="tab-pane" id="cloudTab">
                    @select(
                        simform("cloudid"),
                        options(servMap),
                        '_label -> "Cloud", 'default -> "--Choose Cloud--"
                    )
                <div id="cloudTable"></div>
            </div>
        </div>

        <h3>Simulation Overview</h3>
        <div id="overviewTab">
            <div id="overviewTable"></div>
        </div>

        <div id="actions" class="pull-left">
            @if(simId == null){
            <button type="submit" class="btn btn-danger disabled" disabled><i class="icon-circle-arrow-right"></i> Run Simulation</button>
            }else{
            <button type="submit" class="btn btn-success"><i class="icon-circle-arrow-right"></i> Run Simulation</button>
            }
        </div>
    }
}

