@(groupForm: Form[VMGroup], vg: VMGroup, allVMs: List[VM])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
}

@title = {
    Create a VM Group
}

@pageTitle = {
    Create a VM Group
}

@main(title, pageTitle) {
    <script src="@routes.Assets.at("javascripts/groupClassToggle.js")" type="text/javascript"></script>

    @form(routes.VMGroupController.update(vg.getId.toString)) {
        @inputText(groupForm("name"), '_label -> "Group Name")

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>VM Name</th>
                    <th># of Cores</th>
                    <th>Memory (GB)</th>
                    <th>HDD Size (GB)</th>
                    <th>Bandwidth (Mbps)</th>
                    <th>Group</th>
                </tr>
            </thead>

            <tbody>
                @for(vm <- allVMs) {
                    <tr @if(vg.getVms.toSet.contains(vm)){class="success"}else{} >
                    <td>@vm.getName</td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getCores)    </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getMemory)   </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getHdd)  </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getBandwidth)</td>
                    <td><input type="checkbox" id="@vm.getId.toString" name="@vm.getId.toString" @if(vg.getVms.toSet.contains(vm)){checked="true"}else{}/></td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="addGroup" class="pull-left">
            <input type="submit" value="Save Group" class="btn btn-primary">  or
            <a class="btn btn-inverse" id="cancel" href="@routes.VMGroupController.list()" hidden="false">Cancel</a>
        </div>
    }
}