@(vg: VMGroup)

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
}

@title = {
    @vg.getName
}

@pageTitle = {
    @vg.getName
}

@main(title, pageTitle) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>VM Name</th>
                    <th># of Cores</th>
                    <th>Memory (GB)</th>
                    <th>HDD Size (GB)</th>
                    <th>Bandwidth (Mbps)</th>
                </tr>
            </thead>

            <tbody>
            @for(vm <- vg.getVms) {
                <tr>
                    <td>@vm.getName @if(!vm.isActive){ (Hidden)}           </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getCores)    </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getMemory)   </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getHdd)      </td>
                    <td>@simulation.SimUtils.getNf3.format(vm.getBandwidth)</td>
                </tr>
            }
            </tbody>
        </table>

        <div id="addGroup" class="pull-left">
            <a class="btn btn-primary" id="cancel" href="@routes.VMGroupController.list()" hidden="false">Back</a>
        </div>
}