@(groupForm: Form[VMGroup], allVM: List[VM])

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor() = @{
    FieldConstructor(twitterBootstrapInput.render)
}

@title = {
    Create a VM Group
}

@pageTitle = {
    Create a VM Group
}

@main(title, pageTitle) {

<script src="@routes.Assets.at("javascripts/groupClassToggle.js")" type="text/javascript"></script>

@form(routes.VMGroupController.save()) {
    @inputText(groupForm("name"), '_label -> "Group Name")

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>VM Name</th>
                <th># of Cores</th>
                <th>Memory (GB)</th>
                <th>HDD Size (GB)</th>
                <th>Bandwidth (Mbps)</th>
                <th>Group</th>
            </tr>
        </thead>

        <tbody>
        @for(vm <- allVM) {
            <tr>
                <td><a class="btn btn-link" href="@routes.VMController.edit(vm.getId.toString)">@vm.getName</a></td>
                <td>@vm.getCores</td>
                <td>@vm.getMemory</td>
                <td>@vm.getHdd</td>
                <td>@vm.getBandwidth</td>
                <td style="text-align:center;">
                    <input type="checkbox" id="@vm.getId.toString" name="@vm.getId.toString" />
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div id="addGroup" class="pull-left">
        <input type="submit" value="Save Group" class="btn btn-primary">  or
        <a class="btn btn-inverse" id="saveGroup" href="@routes.VMGroupController.list()" >Cancel</a>
    </div>
}
                    }

