@(vms: List[VM], hidden: List[VM])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@title = {
    Virtual Machines
}

@pageTitle = {
    Virtual Machines

    <div id="add" class="pull-right ">
        <a class="btn btn-success" id="addVM" href="@routes.VMController.create()"> <i class="icon-plus-sign icon-white"></i>  Add a New VM</a>
        <a class="btn btn-inverse" id="addGroup" href="@routes.VMGroupController.create()" hidden="false">Create VM Group</a>
    </div>
}

@main(title, pageTitle) {
    <ul class="nav nav-tabs">
        <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#inactive" data-toggle="tab">Hidden</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="active">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>VM Name</th>
                        <th># of Cores</th>
                        <th>Memory (GB)</th>
                        <th>HDD Size (GB)</th>
                        <th>Bandwidth (Mbps)</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for(vm <- vms) {
                        <tr>
                            <td>@vm.getName</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getCores)</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getMemory)</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getHdd)</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getBandwidth)</td>
                            <td>
                                 <a class="btn btn-inverse btn-block" href="@routes.VMController.edit(vm.getId.toString)" > <i class="icon-edit icon-white"></i> Copy</a>
                                 <a class="btn btn-danger btn-block" href="@routes.VMController.markInactive(vm.getId.toString)"> <i class="icon-remove icon-white"></i> Hide</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="inactive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>VM Name</th>
                        <th># of Cores</th>
                        <th>Memory (GB)</th>
                        <th>HDD Size (GB)</th>
                        <th>Bandwidth (Mbps)</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for(vm <- hidden) {
                        <tr>
                            <td>@vm.getName</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getCores)</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getMemory)</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getHdd)</td>
                            <td>@simulation.SimUtils.getNf3.format(vm.getBandwidth)</td>
                            <td>
                                <a class="btn btn-inverse btn-block" href="@routes.VMController.edit(vm.getId.toString)" > <i class="icon-edit icon-white"></i> Copy</a>
                                <a class="btn btn-danger btn-block" href="@routes.VMController.markActive(vm.getId.toString)"> <i class="icon-remove icon-white"></i> Unhide</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

            